[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-binance = "*"
pylint = "*"
"autopep8" = "*"
gunicorn = "*"
pymongo = "*"
flask-pymongo = "*"
flask-restful = "*"
flask-cors = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.6"
