aniso8601==2.0.0
apiclient==1.0.3
APScheduler==3.5.0
apturl==0.5.2
asn1crypto==0.22.0
beautifulsoup4==4.6.0
blinker==1.3
Brlapi==0.6.5
caffeine==2.8.3
certifi==2018.1.18
chardet==3.0.4
click==6.7
command-not-found==0.3
cryptography==1.9
cupshelpers==1.0
curses-menu==0.5.0
defer==1.0.6
discovery==0.0.4
distro-info==0.17
feedparser==5.1.3
flake8==3.5.0
Flask==0.12.2
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.6
google-api-python-client==1.6.4
gunicorn==19.7.1
html5lib==0.999999999
httplib2==0.10.3
idna==2.6
itsdangerous==0.24
Jinja2==2.10
keyring==10.4.0
keyrings.alt==2.2
language-selector==0.1
launchpadlib==1.10.5
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
louis==3.0.0
lxml==4.0.0
mailer==0.8.1
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
mongoengine==0.15.0
nltk==3.2.5
oauth==1.0.1
oauth2client==4.1.2
oauthlib==2.0.1
olefile==0.44
onboard==1.4.1
pew==1.1.2
pexpect==4.2.1
Pillow==4.1.1
praw==5.3.0
prawcore==0.13.0
psutil==5.0.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pycrypto==2.6.1
pycups==1.9.73
pyflakes==1.6.0
pygobject==3.24.1
PyJWT==1.4.2
pymongo==3.6.0
python-apt==1.4.0b3
python-debian==0.1.30
python-xlib==0.14
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.18.4
rsa==3.4.2
SecretStorage==2.3.1
simplejson==3.11.1
six==1.11.0
system-service==0.3
systemd-python==234
textblob==0.15.0
tzlocal==1.5.1
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
unity-tweak-tool==0.0.7
update-checker==0.16
uritemplate==3.0.0
urllib3==1.22
usb-creator==0.3.3
virtualenv==15.1.0
virtualenv-clone==0.2.6
wadllib==1.3.2
webencodings==0.5
Werkzeug==0.14.1
xkit==0.0.0
zope.interface==4.3.2
